# Data Science Tools and Ecosystem

## Introduction
This notebook is basically about the use of markdown and codes.

## **Objectives:**
+ Create a Jupyter Notebook

+ Insert code and markdown cells

+ Share your notebook through GitHub

## List of Data Science Languages
Some of the popular languages that Data Scientists use are:

<ol>
<li> Python
<li> R
<li> SQL
</ol>


## List of Data Sccience Libraries
Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li> Pandas
    <li> NumPy
    <li> SciPy    
    <li> matplotlib

## Table of Data Science Tools
Tools|
-----|
Python|
R     |
SQL   |

## Introducing Arithmetic Expression Fxamples
Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60. For eample, 200 minutes
hour = 200 // 60
print("200 minutes value in hours:",hour)

200 minutes value in hours: 3

## Author
Olubukola Jaji